@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
  box-sizing: border-box;
}

body {
  flex-direction: column;
  display: flex;
  height: auto;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  background-color: black;
  }

.container {
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 600px;
  background-color:slategrey;
  border-radius: 20px 20px 20px 0;
  border: 3px solid rgb(37, 37, 37);
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

button {
  font-family: Roboto;
  padding:10px 20px;
  font-weight: 300px;
}

input {
  padding: 10px 20px;
  font-family: 'Roboto', 'Courier New', Courier, monospace;
  font-weight:bold;
}
